{% extends 'layout/base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
<div class="container">
    Is user authenticated? - {{ request.user.is_authenticated }}
    <div class="carts">
        {% for cart_item in cart_items %}
        <div class="item cart__item">
            <div class="item__column">
                <div class="item__title">Найменування</div>
                <div class="item__value">{{ cart_item.product.title }}</div>
            </div>
            <div class="item__column">
                <div class="item__title">Кількість</div>
                <div class="item__value">{{ cart_item.quantity }}</div>
            </div>
            <div class="item__column">
                <div class="item__title">Вартість</div>
                <div class="item__value">{{ cart_item.product.price }} грн</div>
            </div>
            <div class="item__column">
                <div class="item__title">Сумарна вартість</div>
                <div class="item__value">{{ cart_item.get_total_product_price }} грн</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="total_price">
        Сума до оплати - {{ cart.get_total_price }} грн
    </div>
</div>
{% endblock %}