body.sidebar-opened {overflow:hidden;}

.button-delivery svg {
  margin: 0 auto;
}

.button-delivery a:hover {
  background-color: #8C9F3F;
  color: white;
}

.button-delivery-content:hover .button-delivery-icon {
  fill: white;
}


.button-delivery-content {
  display: grid;
  grid-gap: 8px;
  color: #333;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: white;
  padding: 40px 90px;
  border-radius: 10px;
}

.hidden-overley2 {
  position: fixed;
  left: 0;
  z-index: 101;
  background: #000000;
  opacity:0;
  width:0;
  height:0;
  transition: opacity 1s;
}

.hidden-overley2.show {
  height: 100%;
  width: 100%;
  opacity:0.75;
  transition: opacity 1s;
}

.cart-button {
  position: fixed;
  z-index:102;
  width: 0;
  height: 0;
  overflow: auto;
}

.cart-button.show {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 120px;
}


.hidden-overley1 {
  position: fixed;
  left: 0;
  z-index: 99;
  background: #000000;
  opacity:0;
  width:0;
  height:0;
  transition: opacity 1s;
}

.hidden-overley1.show {
  height: 100%;
  width: 100%;
  opacity:0.5;
  transition: opacity 1s;
}

.sidebar {
  position: fixed;
  z-index:100;
  width: 507px;
  height: 100%;
  right: -507px;
  background: #fff;
  transition: right 0.4s ease;
  overflow: auto;
}

.sidebar.show {
  right: 0px;
}

.sidebar_container {
  height: 100%;
}

.sidebar-title {
  font-size: 24px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(51, 51, 51, 0.1);
}

.item-list {
  height: calc(100% - 275px);
  margin-bottom: 21px;
  overflow-y: scroll;
  padding-left: 20px;

}

.item-list::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.item-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(140, 159, 63, 0.7);
}

.item-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f9f9fd;
}

.cart-item {
  display: flex;
  border-bottom: 2px solid rgba(51, 51, 51, 0.1);
  padding: 20px 0px 20px 0px;
}

.product-img {
  width: 129px;
  height: 81px;
  border-radius: 8px;
  margin-right: 24px;
}

.product-img img {
  border-radius: 8px;
  max-width: 119px;
  max-height: 99px;
  object-fit: cover;
  height: 80px;
  border: 5px solid #EBEBEB;
  border-radius: 8px;
}

.description {
  max-width: 260px;
  width: 260px;
  padding: 0 10px 0 10px;
}

.product-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 11px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-count {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  grid-gap: 18px;
}

.remove-product {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
}

.remove-product img {
  display: flex;
}

.count {
  max-width: 19px;
  text-align: center;
}

.product-price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #333333;
}

.remove-cart {
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
}

.popup-summary {
  padding: 0 20px;
}

.full-price {
  justify-content: space-between;
  display: flex;
}

.full-price span:first-child {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.full-price span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #333333;
}

.checkout {
  padding-top: 40px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}

.btn-checkout {
  color: white;
  background: #95A944;
  border: 1px solid #8C9F3F;
  border-radius: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 188px;
  padding-right: 188px;
  font-size: 16px;
}