/* ===Header========================================== */

.header {
    background: #303030;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex: 0 0 150px;
}

.logo img {
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__phone-number {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 31px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    position: relative;
}

.nav__item::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
}

.nav__item:last-child::after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
}

.nav__link {
    display: inline-block;
    padding: 16px 29px;
    color: #FFFFFF;
}

.nav__link span {
    margin-right: 15px;
}

.nav__link:hover {
    background: rgba(217, 217, 217, 0.05);
}

.nav__link_active {
    background: rgba(217, 217, 217, 0.05);
}

.cart {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.nav__cart {
    margin-left: 29px;
}

.cart__icon {
    position: relative;
}

.cart__quantity {
    position: absolute;
    top: -5px;
    right: -7px;
    padding: 0 3px;

    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    background: #8C9F3F;
    border-radius: 10px;
}

.cart__price {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

/* ===End Header====================================== */