.main__order {
    margin: 45px 0 62px;
}

.order__title {
    margin-bottom: 30px;
}

.order__title {
    text-align: center;
}

.about-order {
    display: flex;
    column-gap: 230px;
}

.order-form {
    width: 370px;
    display: flex;
    flex-direction: column;
}

.form-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 35px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    row-gap: 7px;
}

.field input {
    height: 39px;
    border-bottom: 1px solid #B8B8B8;
    color: #737373;
}

.field label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #737373;
}

.field select {
    border: 1px solid rgba(115, 115, 115, 0.44);
    border-radius: 10px;
    height: 68px;
    font-family: 'Montserrat', sans-serif;
    color: #737373;
}

.field select option {
    color: #737373;
}

.field textarea {
    height: 180px;
    padding: 17px;
    border: 1px solid rgba(115, 115, 115, 0.44);
    border-radius: 10px;
    resize: none;
    color: #737373;
}

.order-form button {
    align-self: center;
    width: 218px;
    padding: 11px 0px;
    background: #95A944;
    border-radius: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.order-content__list {
    margin-bottom: 23px;
}

.cart-item {
    display: flex;
    border-bottom: 2px solid rgba(51, 51, 51, 0.1);
    padding: 20px 0px 20px 0px;
}

.product-img {
    width: 129px;
    height: 81px;
    border-radius: 8px;
    margin-right: 24px;
}

.product-img img {
    border-radius: 8px;
    max-width: 119px;
    max-height: 99px;
    object-fit: cover;
    height: 80px;
    border: 5px solid #EBEBEB;
    border-radius: 8px;
}

.description {
    max-width: 260px;
    width: 260px;
    padding: 0 10px 0 10px;
}

.product-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-count {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    grid-gap: 18px;
}

.remove-product {
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
}

.remove-product img {
    display: flex;
}

.count {
    max-width: 19px;
    text-align: center;
}

.product-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #333333;
}

.remove-cart {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}

.order-content__full-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.order-content__full-price span {
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    margin-left: 13px;
}