/* ===Product========================================== */
.main__product {
    margin: 47px 0 60px 0;
}

.product__wrapper {
    display: flex;
    align-items: center;
    column-gap: 42px;
    padding: 30px 50px;
    background: #F6F6F6;
    border-radius: 10px;
    overflow: hidden;
}

.product__breadcrumb {
    margin-bottom: 29px;
}

.breadcrumb__list {
    display: flex;
}

.breadcrumb__item::after {
    content: "/";
    margin-right: 3px;
}

.breadcrumb__item:last-child::after {
    content: "";
}

.breadcrumn__link {
    font-size: 15px;
    line-height: 18px;
    color: #333333;
}

.breadcrumn__link_active {
    color: #8C9F3F;
}

.product__image {
    margin-bottom: 50px;
}

.product__image img {
    width: 358px;
    height: 225px;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product__properties {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    column-gap: 25px;
    color: #333333;
}

.product_price {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.product_weight {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}


.btn_fill_green {
    background: #95A944;
    width: 218px;
}

.btn_fill_green a {
    color: #FFFFFF;
}

.product__btn {
    margin: 0 auto;
}

.product__rigth-col {
    flex-grow: 1;
}

.product__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 25px;
}

.product__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #737373;
    margin-bottom: 15px;
}

.product__description {
    color: #333333;
    margin-bottom: 50px;
}

.notification {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-grow: 1;
    padding: 33px 50px;
    background: #EBEBEB;
    border-radius: 10px;
    overflow: hidden;
}

.notification__item {
    display: flex;
    align-items: center;
    column-gap: 29px;
}

.notification__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
/* ===End Product====================================== */
