@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('cart.css');

/* ==================================================================================== */

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ==================================================================================== */

