{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Про нас{% endblock %}

{% block content %}
<!-- About Us -->
<div class="about-us main__about-us">
    <div class="container about-us__container">
        <h2 class="title about-us__title">Про Нас</h2>
        <div class="about-us__content">
            <div class="about-us__image">
                <img src="{% static 'img/about_us/01.jpg' %}" alt="01">
            </div>
            <div class="about-us__text">
                <div class="about-us__block1">
                    <div class="middle-title about-us__middle-title">
                        Хто ми такі?
                    </div>
                    <div class="text about-us__text">
                        Все просто.
                        Ми найтехнологічніша фастфуд-їдальня в Україні.
                        Забудьте про совкові їдальні, переповнені і не зручні. Наш приклад це західні лакшері їдальні на
                        хмарочосах (жартую), бо в нас на першому плані українська народна кухня, роботящі кухарі й
                        головне - дешева та смачна їжа!
                    </div>
                </div>
                <div class="about-us__block2">
                    <div class="middle-title about-us__middle-title">
                        Чим ми кращі за конкурентів?
                    </div>
                    <div class="text about-us__text">
                        Душа для нас перш за все.
                        Скільки можна терпіти нудні ригальні (краще підібрати слово до цих закладів неможливо), котрі
                        хочуть продати все, що в них є дорожче і дорожче…
                        В нашому закладі ціни підлаштовуються під клієнтів, тому і не змінюються як настрої дівчат.
                        От і мотайте на вус.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Us -->
{% endblock %}