{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Про нас{% endblock %}

{% block content %}
<!-- About Us -->
<div class="about-us main__about-us">
    <div class="container about-us__container">
        <h2 class="title about-us__title">Про Нас</h2>
        <div class="about-us__content">
            <div class="about-us__image">
                <img src="{% static 'img/about_us/01.jpg' %}" alt="01">
            </div>
            <div class="about-us__text">
                <div class="about-us__block1">
                    <div class="middle-title about-us__middle-title">
                        Хто ми такі?
                    </div>
                    <div class="text about-us__text">
                        Все просто.
                        Ми найтехнологічніша їдальня в Україні.
                        Забудьте про радянські їдальні, переповнені і незручні, ми взяли в з них тільки
                        найкраще- рідна народна кухня, роботящі кухарі і дешева їжа!
                    </div>
                </div>
                <div class="about-us__block2">
                    <div class="middle-title about-us__middle-title">
                        Чим ми кращі за конкурентів?
                    </div>
                    <div class="text about-us__text">
                        Душа - для нас перш за все.
                        Скільки можна терпіти ці нудні ригальні(підібрати краще слово не зміг), які хочуть
                        продати тобі все, що в них є дорожче і дорожче… В нас ціни не змінювались НІКОЛИ. От
                        і мотайте на вус.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Us -->
{% endblock %}