{% extends 'layout/base.html' %}

{% block title %}Меню{% endblock %}

{% block content %}
<!-- Categories -->
<div class="menu main__menu">
    <div class="container menu__container">
        <h1 class="title main__title">Меню</h1>
        <div class="menu__items">
            {% for category in categories %}
            <div class="category-card menu__category-card">
                <div class="category-card__img">
                    <a href="{{ category.get_absolute_url }}">
                        <img src="{{ category.image.url }}" alt="category-image">
                    </a>
                </div>
                <div class="category-card__title">
                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Categories -->
{% endblock %}