{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Доставка та оплата{% endblock %}

{% block content %}
<!-- Delivery And Payment -->
<div class="delivery main__delivery">
    <div class="container delivery__container">
        <h2 class="title delivery__title">
            Доставка та оплата
        </h2>
        <div class="delivery__content">
            <div class="middle-title delivery__middle-title">
                Працюємо на доставку та самовивіз 💙💛
            </div>
            <ul class="delivery__list">
                <li class="delivery__item">
                    оплатити замовлення можна на сайті або готівкою при отриманні
                </li>
                <li class="delivery__item">
                    мінімальне замовлення для доставки - 250 грн, при замовленні на суму менше 250 грн -
                    тільки
                    самовивіз
                </li>
                <li class="delivery__item">
                    вартість доставки 50 грн
                </li>
                <li class="delivery__item">
                    у передмістя та окраїнні райони міста
                    (Північна Салтівка, Рогань, Горизонт, Сонячний, П'ятихатки, селище Жуковського)
                    тимчасово не
                    доставляємо
                </li>
                <li class="delivery__item">
                    самовивіз безкоштовно за адресами:
                </li>
            </ul>
            <div class="pickup delivery__pickup">
                <div class="pickup__title">
                    Самовивіз
                </div>
                <div class="text pickup__text">
                    Адреса самовивезення: Центр | вул. Полтавський шлях, 3 | Біля кафе "Mon Ami" Нові
                    будинки |
                    Садовий проїзд, 9 | Біля магазину «Десятка»
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Delivery And Payment -->
{% endblock %}