{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Головна{% endblock %}

{% block content %}
<!-- Categories -->
<div class="categories main__categories">
    <div class="container categories_container">
        {% for category in categories %}
        <div class="category-card categories__category-card">
            <div class="category-card__img">
                <a href="{{ category.item.get_absolute_url }}"><img src="{{ category.item.image.url }}" alt="01"></a>
            </div>
            <div class="category-card__title categories__category-card">
                <a href="{{ category.item.get_absolute_url }}">{{ category.item.title }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- End Categories -->

<!-- Main Slider -->
<div class="carousel main__carousel">
    <div class="container carousel__container">
        <div class="image-slider swiper">
            <div class="image-slider__wrapper swiper-wrapper">
                {% for slide in slides %}
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <img src="{{ slide.image.url }}" alt="01">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>
<!-- End Main Slider -->

<!-- Recommendations -->
<div class="recomend main__recomend">
    <div class="container recomend__container">
        <div class="title recomend__title">
            Ми рекомендуємо
        </div>
        <div class="recomend-slider swiper">
            <div class="recomend-slider__wrapper swiper-wrapper">
                {% for recommendation in recommendations %}
                <div class="recomend-slider__slide swiper-slide">
                    <div class="recomend-slider__image">
                        <div class="food-card">
                            <div class="food-card__image">
                                <a href="#!">
                                    <img src="{{ recommendation.item.image.url }}"
                                        alt="{{ recommendation.sequence_number }}">
                                </a>
                            </div>
                            <div class="food-card__body">
                                <div class="food-card__title">
                                    <a href="#!">{{ recommendation.item.title }}</a>
                                </div>
                                <div class="food-card__quantity-weight">{{ recommendation.item.weight }} г</div>
                                <div class="food-card__text">
                                    {{ recommendation.item.description }}
                                </div>
                                <div class="food-card__price">{{ recommendation.item.price }} грн</div>
                                <div class="btn food-card__btn">
                                    <a href="{{ recommendation.item.get_add_to_cart_url }}">В кошик</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>
<!-- End Recommendations -->
{% endblock %}