{% extends 'layout/base.html' %}

{% block title %}Козацька їдальня{% endblock %}

{% block content %}
Як ся маєш? Зголоднів? Хочеш БІЛЬШЕ ЕНЕРГІЇ!?? 
Тоді завітай до нашого закладу прямо тут і зараз!
Знижки за промокодом
Купляй два борща- третій у подарунок (тільки спробуй не з’їсти) 
Ніяких черг і перепонів, повна безпека і, звичайно ж, СМАЧНЮЩА ЇДА 
від справжніх професіоналів(тут має бути фотка Богдана)
Ніяких кордонів- доставимо будь-куди(тут має бути карта куди ми насправді доставляємо), будь-що(тут має бути посилання на меню)
Хто ми такі?
Все просто. Ми найтехнологічніша їдальня в Україні. Забудьте про радянські їдальні, переповнені і незручні, ми взяли в з них тільки найкраще- рідна народна кухня, роботящі кухарі і дешева їжа! 
Чим ми кращі за конкурентів?
Душа- для нас перш за все. Скільки можна терпіти ці нудні ригальні(підібрати краще слово не зміг), які хочуть продати тобі все, що в них є дорожче і дорожче… В нас ціни не змінювались НІКОЛИ. От і мотайте на вус. 
Оплата
Давай чесно, нам не важливо як ти розрахуєшся) Готівка чи картка, Bitcoin чи Dogecoin. Заповнюй анкету(посилання на анкету) і готуй гаманець, а ми зробимо все інше.
Робота в нас
Працюй за гнучким графіком як тобі буде краще. Підлаштовуємось під студентів. Смачна зарплата- приходь і зароби стартовий капітал(посилання на анкету для працівників)
{% endblock %}