{% extends 'layout/base.html' %}
{% load static %}
{% load pagination %}

{% block title %}{{ active_category.title }}{% endblock %}

{% block content %}
<!-- Products -->
<div class="suggestions main__suggestions">
    <div class="container suggestions__container">
        <aside class="menu-panel suggestions__menu-panel">
            <div class="menu-panel__title">Меню</div>
            <ul class="menu-panel__list">
                {% for category in categories %}
                <li class="menu-panel__item {% if category == active_category %}menu-panel__item_active{% endif %}">
                    <a href="{{ category.get_absolute_url }}" class="menu-panel__link">{{ category.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </aside>
        <div class="products suggestions__products">
            <h1 class="title products__title">{{ active_category.title }}</h1>
            <div class="products__cards">
                {% for product in products %}
                <div class="food-card">
                    <div class="food-card__image">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}" alt="05">
                        </a>
                    </div>
                    <div class="food-card__body">
                        <div class="food-card__title">
                            <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                        </div>
                        <div class="food-card__quantity-weight">{{ product.weight }} г</div>
                        <div class="food-card__text">{{ product.description }}</div>
                        <div class="food-card__price">{{ product.price }} грн</div>
                        <div class="btn food-card__btn">
                            <a href="{{ product.get_add_to_cart_url }}">В кошик</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <!-- Pagination -->
            {% pagination page_obj 2 %}
            <!-- End Pagination -->
        </div>
    </div>
</div>
<!-- End Products -->
{% endblock %}