{% extends 'layout/base.html' %}
{% load static %}
{% load order_tags %}

{% block content %}
<div class="order main__order">
    <div class="container order__container">
        <div class="title order__title">Оформлення замовлення</div>
        <div class="about-order">
            <div class="form-container order__form-container">
                <form action="{% url 'orders:pick_up_order' %}" method="post" class="order-form">
                    {% csrf_token %}
                    <div class="personal-info">
                        <div class="form-title">Особиста інформація</div>
                        <div class="field">
                            {% create_label form.customer_name %}
                            {{ form.customer_name }}
                            {{ form.customer_name.errors }}
                        </div>
                        <div class="field">
                            {% create_label form.phone_number %}
                            {{ form.phone_number }}
                            {{ form.phone_number.errors }}
                        </div>
                        <div class="field">
                            {% create_label form.email %}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="delivery">
                        <div class="form-title">Доставка</div>
                        <div class="field">
                            {% create_label form.store %}
                            {{ form.store }}
                            {{ form.store.errors }}
                        </div>
                    </div>
                    <div class="payment">
                        <div class="form-title">Оплата</div>
                        <div class="field">
                            {% create_label form.payment %}
                            {{ form.payment }}
                            {{ form.payment.errors }}
                        </div>
                    </div>
                    <div class="comment">
                        <div class="form-title">Коментар до замовлення</div>
                        <div class="field">
                            {{ form.comment }}
                            {{ form.comment.errors }}
                        </div>
                    </div>
                    <button type="submit">Замовити</button>
                </form>
            </div>
            <div class="order-content order__order-content">
                <ul class="order-content__list">
                    {% for item in cart.items.all %}
                    <li class="order-content__item">
                        <div class="cart-item">
                            <div class="product-img">
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.title }}">
                            </div>
                            <div class="description">
                                <div class="product-name"><a class="item-title">{{ item.product.title }}</a></div>
                                <div class="product-count">
                                    <div class="remove-product">
                                        <a href=""><img class="btn-remove" src="{% static 'img/icons/rem.png' %}" alt="decrease quantity"></a>
                                    </div>
                                    <input class="count" type="text" value="{{ item.quantity }}" readonly>
                                    <div class="add-product">
                                        <a href=""><img src="{% static 'img/icons/add.png' %}" alt="increase quantity"></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    {{ item.product.price }} грн
                                </div>
                            </div>
                            <div class="remove-cart">
                                <a href=""><img src="{% static 'img/icons/remove.png' %}" alt="remove from cart"></a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="order-content__full-price">
                    До оплати:<span>{{ cart.get_total_price }} грн</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}