<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
</head>

<body>
    <div class="wrapper">
        <!-- Header -->
        {% block header %}
        <header class="header">
            <div class="container header__container">
                <div class="logo header__logo">
                    <a href="{% url 'store:home' %}"><img src="{% static 'img/logo/logo.svg' %}" alt="BestBurger"></a>
                </div>
                <nav class="nav header__nav">
                    <div class="nav__phone-number">
                        +38 (123) 123-23-33
                    </div>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'store:categories' %}" class="nav__link nav__link_active">Меню</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'store:delivery_and_payment' %}" class="nav__link">Доставка та оплата</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'store:about_us' %}" class="nav__link">Про Нас</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'store:contacts' %}" class="nav__link">Контакти</a>
                        </li>
                        <li class="nav__item">
                            <a href="#!" class="nav__link">
                                <span><img src="{% static 'img/icons/profile.svg' %}" alt="profile"></span>
                                Мій аккаунт
                            </a>
                        </li>
                    </ul>
                    <div class="cart nav__cart">
                        <div class="pushmenu cart__icon">
                            <a href="#!"><img src="{% static 'img/icons/cart.svg' %}" alt="cart"></a>
                            {% if cart.get_count != 0 %}
                            <div class="cart__quantity">
                                {{ cart.get_count }}
                            </div>
                            {% endif %}
                        </div>
                        {% if cart.get_total_price != 0 %}
                        <div class="cart__price">
                            {{ cart.get_total_price }}₴
                        </div>
                        {% endif %}
                    </div>
                </nav>

            </div>
        </header>
        {% endblock %}
        <!-- End Header -->

        <!-- Sidebar -->
        {% block sidebar %}
        <div class="sidebar">
            <div class="sidebar_container">
                <div class="sidebar-title">Кошик</div>
                <div class="item-list">
                    {% for item in cart.items.all %}
                    {% include 'include/cart-item.html' %}
                    {% endfor %}
                </div>
                <div class="popup-summary">
                    <div class="full-price">
                        <span>Сума:</span>
                        <span>{{ cart.get_total_price }} грн</span>
                    </div>
                    <div class="checkout">
                        <a class="btn-checkout" href="#!">Оформити</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-overley"></div>
        {% endblock %}
        <!-- End Sidebar -->

        <!-- Content -->
        <main class="main">
            {% block content %}{% endblock %}
        </main>
        <!-- End Content -->


        <!-- Footer -->
        {% block footer %}
        <footer class="footer">
            <div class="container footer__container">
                <div class="footer__about">
                    <div class="logo footer__logo">
                        <a href="{% url 'store:home' %}"><img src="{% static 'img/logo/logo.svg' %}"
                                alt="BestBurger"></a>
                    </div>
                    <div class="footer__copyright">
                        © 2002 - 2022 BEST BURGER<br>
                        Всі права захищені
                    </div>
                </div>
                <nav class="footer-nav footer__nav">
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a href="#!" class="footer-nav__link">Новини</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#!" class="footer-nav__link">Акції</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#!" class="footer-nav__link">Бонуси</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer-contacts footer__contacts">
                    <div class="footer-contacts__title">
                        Телефони для замовлень:
                    </div>
                    <ul class="footer-contacts__list">
                        <li class="footer-contacts__item">+38 (123) 123-23-33
                        </li>
                        <li class="footer-contacts__item">+38 (123) 123-23-33
                        </li>
                        <li class="footer-contacts__item">bestburger@gmail.com
                        </li>
                    </ul>
                </div>
                <div class="footer-socials footer__footer-socials">
                    <div class="footer-socials__title">
                        Наші соцмережі
                    </div>
                    <ul class="footer-socials__list">
                        <li class="footer-socials__item">
                            <a href="#!" class="footer-socials__link">
                                <img src="{% static 'img/socials/fb.svg' %}" alt="facebook">
                            </a>
                        </li>
                        <li class="footer-socials__item">
                            <a href="#!" class="footer-socials__link">
                                <img src="{% static 'img/socials/insta.svg' %}" alt="instagram">
                            </a>
                        </li>
                        <li class="footer-socials__item">
                            <a href="#!" class="footer-socials__link">
                                <img src="{% static 'img/socials/tw.svg' %}" alt="twitter">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        {% endblock %}
        <!-- End Footer -->
    </div>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/sliders.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
</body>

</html>